table {
  border-collapse: collapse;
}
.header{
  text-align: center;
}
.session {
  margin-left: 700px;
}
.skills {
  margin-left: 150px;
}
.projects{
margin-left: 20px;
}
hr {
  border: 0;
  width: 96%;
  color: #0f0f0e;
  height: 2px;
}
a:link {
  color: black;
  text-decoration: none;
}
a:link:hover{
  color: red;
}
